:root {
	--primary-color: #771460;
	--text-dark-color: #2c3e50;
	--text-light-color: #fcfcfc;

	--bg-color: #ffffff;
	--border-color: #d4d1d1;

	--base-gap: 8px;
	--base-padding: 10px;
	--border-radius: 5px;

	--modal-overlay-bg-color: #40404050;
	--modal-padding: 15px;

	--input-placeholder-color: #d4d1d1;
	--input-border-radius: calc(var(--border-radius) - 2px);

	--btn-svg-size: 20px;

	--table-cell-padding: 15px;
}

html,
body {
	overflow: hidden;
	color: var(--text-dark-color);
	background-color: var(--bg-color);
	font-family: system-ui;
	width: 100vw;
	height: 100vh;
	width: 100dvw;
	height: 100dvh;
}

h3 {
	font-weight: 700;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr;
}

table {
	margin: 20px;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
tr {
	margin: 0;
	padding: 0;
	border: 0;
}

td {
	padding: var(--table-cell-padding);
	border: 1px solid var(--border-color);
	user-select: none;
	text-align: center;
}

td[selected] {
	background-color: var(--primary-color);
	color: var(--text-light-color);
}

table.active td:hover {
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--text-light-color);
}

input {
	width: 100%;
	padding-inline: 5px;
	border-bottom: 1px solid var(--border-color);
}

input::placeholder {
	color: var(--input-placeholder-color);
}

button {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	padding: var(--base-padding);
	border-radius: var(--border-radius);
	background-color: var(--primary-color);
	color: var(--text-light-color);
}

button:disabled {
	opacity: 0.5;
	pointer-events: none;
}

button.icon {
	padding: 0;
	border-radius: 0;
	background-color: transparent;
	color: var(--text-light-color);
}

button.icon > svg,
svg.icon {
	width: var(--btn-svg-size);
	height: var(--btn-svg-size);
	color: var(--primary-color);
	overflow: hidden;
}

.header {
	background-color: var(--bg-color);
	border-bottom: 1px solid var(--border-color);
}

.modal {
	width: 100vw;
	height: 100vh;
	width: 100dvw;
	height: 100dvh;
	position: absolute;
	background-color: var(--modal-overlay-bg-color);
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto;
	display: none; /* flex */
	align-items: center;
	justify-content: center;
}

.modal-content {
	margin-block: 50px;
	min-height: 100px;
	width: fit-content;
	max-width: 90%;
	padding: var(--modal-padding);
	background-color: var(--bg-color);
	border-radius: var(--border-radius);
}

.settings .inputs {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: var(--base-gap);
}

.settings input {
	height: 30px;
	width: 100px;
}

.settings button.submit {
	margin-top: 20px;
	margin-left: auto;
	right: 0;
}

.spawn-nav,
.game-nav {
	padding: 10px 20px;
	flex-wrap: wrap;
	gap: var(--base-gap);
	align-items: center;
	justify-content: space-between;
	display: none;
}

.spawn-nav .icon,
.game-nav .icon {
	--btn-svg-size: 38px;
}

.spawn-nav__actions,
.game-nav__actions {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 40px;
	align-items: center;
}

.main {
	overflow: auto;
}

@media screen and (min-width: 1024px) {
	.spawn-nav,
	.game-nav {
		max-width: 1024px;
		margin-inline: auto;
	}
}
